.header {
    position: absolute;
    height: 25px;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 20000;

    transition: height 1s ease-in-out;

    a {
        text-decoration: none;
        color: $color-high;
    }

    .company {
        width: 180px;
        height: 25px;
        color: $color-high;
        background-color: $color-primary;
        line-height: 25px;
        font-weight: 500;
        font-size: 16px;
        font-style: italic;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        display: inline-block;
        box-shadow: 0 -20px 50px rgba(255, 0, 0, 0.6);
        padding-top: 0;

        transition-property: width, height, padding-top;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;

        .claim {
            margin-left: 5px;
            color: $color-chalk;
        }
    }

    .fork {
        position: absolute;
        right: $fs-l;
        top: $fs-l;

        a {
            display: block;
            background-size: contain;
            background-position: center center;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiA8Zz4KICA8dGl0bGU+YmFja2dyb3VuZDwvdGl0bGU+CiAgPHJlY3QgZmlsbD0ibm9uZSIgaWQ9ImNhbnZhc19iYWNrZ3JvdW5kIiBoZWlnaHQ9IjQwMiIgd2lkdGg9IjU4MiIgeT0iLTEiIHg9Ii0xIi8+CiA8L2c+CiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggaWQ9InN2Z18yIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmZmZmYiIGQ9Im0yOTYuMTMzLDM1NC4xNzRjNDkuODg1LC01Ljg5MSAxMDIuOTQyLC0yNC4wMjkgMTAyLjk0MiwtMTEwLjE5MmMwLC0yNC40OSAtOC42MjQsLTQ0LjQ0OCAtMjIuNjcsLTU5Ljg2OWMyLjI2NiwtNS44OSA5LjUxNSwtMjguMTE0IC0yLjczNCwtNTguOTQ3YzAsMCAtMTguMTM5LC01Ljg5OCAtNjAuNzU5LDIyLjY2OWMtMTguMTM5LC00Ljk4MyAtMzguMDksLTguMTYzIC01Ni42ODIsLTguMTYzYy0xOS4wNTMsMCAtMzkuMDExLDMuMTggLTU2LjY5Nyw4LjE2M2MtNDMuMDgyLC0yOC41NjcgLTYxLjIyLC0yMi42NjkgLTYxLjIyLC0yMi42NjljLTEyLjI0MSwzMC44MzMgLTQuOTgzLDUzLjA1NyAtMi43MTgsNTguOTQ3Yy0xNC4wNjEsMTUuNDIgLTIyLjY3NywzNS4zNzkgLTIyLjY3Nyw1OS44NjljMCw4Ni4xNjMgNTMuMDU3LDEwNC4zMDEgMTAyLjk0MiwxMTAuMTkyYy02LjM0NCw1LjQ1MiAtMTIuMjQxLDE1Ljg3MyAtMTQuNTA3LDMwLjM4N2MtMTIuNzAyLDUuNDM4IC00NS44MDgsMTUuODczIC02NS43NTgsLTE4LjU5MmMwLDAgLTExLjc5NSwtMjEuMzEgLTM0LjAxMiwtMjIuNjY5YzAsMCAtMjIuMjI0LC0wLjQ1MyAtMS44MTMsMTMuNTkyYzAsMCAxNC45Niw2LjgxMiAyNC45NDMsMzIuNjUzYzAsMCAxMy42LDQzLjA4OSA3Ni4xNzksMjkuNDhsMCwzOC41NDNjMCw1LjkwNiAtNC41MywxMi43MDIgLTE1Ljg2NSwxMC44OWMtODguODg4LC0yOS40ODEgLTE1Mi44MjcsLTExMy44MzIgLTE1Mi44MjcsLTIxMi42ODhjMCwtMTIzLjgwNyAxMDAuMjE2LC0yMjQuMDIyIDIyNC4wMywtMjI0LjAyMmMxMjMuMzQ3LDAgMjI0LjAyMywxMDAuMjE2IDIyMy41NywyMjQuMDIyYzAsOTguODU2IC02My45NDYsMTgyLjc1NCAtMTUyLjgyOCwyMTIuNjg4Yy0xMS4zNDIsMi4yNjYgLTE1Ljg3MywtNC41MyAtMTUuODczLC0xMC44OWwwLC02Mi4xMThjMC4wMDEsLTIwLjg3MyAtNi44MTEsLTM0LjQ2NSAtMTQuOTY2LC00MS4yNzZsMCwwem0yMTUuODY3LC05Ny45NDRjMCwtMTQxLjUgLTExNC43MzcsLTI1Ni4yMyAtMjU1Ljc3LC0yNTYuMjNjLTE0MS41LDAgLTI1Ni4yMywxMTQuNzMgLTI1Ni4yMywyNTYuMjNjMCwxNDEuMDMzIDExNC43MywyNTUuNzcgMjU2LjIzLDI1NS43N2MxNDEuMDMzLDAgMjU1Ljc3LC0xMTQuNzM3IDI1NS43NywtMjU1Ljc3bDAsMHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPgogPC9nPgo8L3N2Zz4=);
            width: $fs-l;
            height: $fs-l;
            opacity: 0.5;
            transition: all .5s ease-in-out;

            &:hover {
                opacity: 1;
                width: $fs-xl;
                height: $fs-xl;
                transition: all 0.1s ease-in-out;
                box-shadow: 0 0 30px $color-matte-darkest;
            }
        }
    }
}
